/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0f172a;
  color: #e5e7eb;
  line-height: 1.6;
}

/* Navbar */
header {
  background: #020617;
  padding: 15px 50px;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.logo img {
  height: 60px;      
  width: 60px;       
  border-radius: 50%; 
  object-fit: cover;  
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #38bdf8;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: #e5e7eb;
  text-decoration: none;
  font-weight: bold;
}

.nav-links a:hover {
  color: #38bdf8;
}

/* Home */
.home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(135deg, #020617, #0f172a);
}

.home-content h1 {
  font-size: 3rem;
  margin: 10px 0;
}

.home-content p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  padding: 10px 25px;
  background: #38bdf8;
  color: #020617;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
}

.btn:hover {
  background: #0ea5e9;
}

/* Sections */
section {
  padding: 60px 50px;
}

section h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #38bdf8;
}

/* About */
.about p {
  max-width: 700px;
  margin: auto;
  text-align: center;
}

/* Skills */
.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.skill {
  background: #1e293b;
  padding: 15px 25px;
  border-radius: 20px;
  font-weight: bold;
}

/* Projects */
.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.project-card {
  background: #1e293b;
  padding: 20px;
  border-radius: 15px;
  transition: transform 0.3s ease;
}

.project-card:hover {
  transform: translateY(-5px);
}

/* Contact */
.contact form {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact input,
.contact textarea {
  padding: 12px;
  border-radius: 8px;
  border: none;
  outline: none;
}

.contact textarea {
  resize: none;
  height: 120px;
}

.contact button {
  border: none;
  cursor: pointer;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background: #020617;
  color: #94a3b8;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 10px;
}

.social-links a {
  color: #38bdf8;
  text-decoration: none;
  font-weight: bold;
}

.social-links a:hover {
  color: #0ea5e9;
}


